//nav_section
.nav_wrapper {
  min-height: 10vh;
  z-index: 10;

  .title {
    font-weight: 600;
  }

  .arrow_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    outline: none;
    border: 1px solid black;
    margin-left: 5px;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
  }

  .arrow_btn img {
    height: 20px;
    width: 20px;
  }
}

.date_picker_wrapper {
  font-size: small;
  p {
    transform: translateY(8px);
    margin-right: 4px;
  }

  input {
    font-size: small;
    transform: translateY(5px);
    cursor: pointer;
  }
}

.table_wrapper {
  padding: 1rem;

  table {
    font-size: small !important;
    border: 1px solid darkgrey;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  }
}

.make_green {
  color: green !important;
  border: none !important;
  border: 2px solid green !important;
}
.make_yellow {
  color: goldenrod !important;
  border: none !important;
  border: 2px solid goldenrod !important;
}
.fill_green {
  color: white !important;
  border: none !important;
  background-color: green !important;
}
.fill_red {
  color: white !important;
  border: none !important;
  background-color: rgb(197, 42, 42) !important;
}

.status_box {
  font-size: small;
  border: 2px solid grey;
  text-align: center;
  padding: 0.2rem;
  font-weight: 600;
  max-width: 8rem;
  border-radius: 5px;
  text-transform: capitalize;
}

.make_bold {
  font-weight: 600;
}

//order type filter section

.order_type_container {
  .container {
    margin: 10px;
    align-items: flex-start;
    padding: 10px 20px;
    box-shadow: var(--box-shadow);
    background-color: white;
    border-radius: 4px;
  }

  .heading {
    margin: 0;
    font-size: small;
    margin: 10px 0px;
    font-weight: 600;
  }

  .genre_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .genre {
    min-width: 90px;
    display: flex;
    align-items: center;
    margin: 2px 0;
    text-transform: capitalize;
    font-size: small;
    font-weight: 600;
  }

  .genre_label {
    margin: 0;
    margin-left: 5px;
  }

  input[type="checkbox"] {
    cursor: pointer;
  }
}

//pagination component
.pagination_wrapper {
  .container {
    /* position: absolute;
  bottom: 0;
  left: 0; */
    /* width: calc(100% - 20px); */
    margin: 0 10px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .page_btn {
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    outline: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    background-color: white;
  }

  .active {
    background-color: var(--blue);
    color: white;
  }
}

//page select component
.page_select_wrapper {
  .container {
    margin: 10px;
    display: flex;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .genre_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .genre {
    min-width: 90px;
    display: flex;
    align-items: center;
    margin: 2px 0;
    text-transform: uppercase;
    font-size: small;
  }

  .genre_label {
    margin: 0;
    margin-left: 5px;
  }

  input[type="checkbox"] {
    cursor: pointer;
  }

  select {
    margin-left: 5px;
  }
}

//buttons section
.buttons_wrapper {
  display: flex;
  flex-direction: column;
  gap: 4;

  button {
    margin: 0.5rem 0em;
  }
}

.sort_container {
  .container {
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-align: center;
    font-size: small;
  }

  .container p {
    font-size: 14px;
    transform: translateY(10px);
  }

  .sort_by {
    font-size: 16px;
    font-weight: 500;
  }

  .select {
    width: auto;
    height: 30px;
    margin-left: 4px;
    border-radius: 4px;
    border: 1px solid var(--black);
    outline: none;
    cursor: pointer;
    padding: 5px;
  }

  .arrow_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    outline: none;
    border: 1px solid black;
    margin-left: 5px;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
  }

  .arrow_btn img {
    height: 20px;
    width: 20px;
  }

  .up_arrow,
  .down_arrow {
    font-size: 18px;
    font-weight: bold;
    color: var(--black);
  }
}

.search_wrapper {
  .search_input {
    margin-right: 15px;
    height: 40px;
    align-self: center;
    outline: none;
    border: none;
    width: 400px;
    border-radius: 4px;
    padding-left: 5px;
    font-size: 15px;
  }
}

//not_found_section
.not_found_section {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60vh;

  img {
    height: 40px;
    width: 40px;
  }
}
