.App {
  height: auto;
}
.wrapper {
  width: 100%;
  min-height: 80vh;
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* .container {
  width: 1000px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
} */

.head {
  display: flex;
  align-content: center;
  height: 80px;
  background-color: black;
  justify-content: space-between;
  color: white;
}

.logo {
  width: 100px;
  object-fit: contain;
  margin-left: 15px;
}

/* .body {
  height: 500px;
  display: flex;
} */

/* .table_container {
  flex: 3;
  position: relative;
}

.filter_container {
  flex: 1;
} */

tr th {
  background-color: aliceblue;
  text-transform: uppercase;
}

td {
  text-transform: uppercase;
}

.bottom_section {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  /*border: 1px solid black;*/
}

.filter_container {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
}

.hide_lg {
  display: none;
}

.form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.common_form {
  width: 500px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: offwhite;
}
